<div class="container">
<nav class="navbar navbar-default">
  <div class="navbar-collapse collapse">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="assets/img/cars/rent-a-car.jpg" class="img-responsive logo">        
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li>
        <a type="button" class="btn btn-outline-primary" routerLink="/searchHome">Pick date and location</a>
      </li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li>
      <a type="button" class="btn btn-outline-primary" routerLink="/createUser">Register</a>
      </li>
      <li>
      <a type="button" class="btn btn-outline-primary" routerLink="/login">Login</a>
        </li>
    </ul>
  </div>
</nav>
</div>

<!-- <div *ngIf="nav.visible" class="container">
    <nav class="navbar navbar-blue">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Car Rental Admin </a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
    
            <li><a routerLink="/users">users</a></li>
            <li><button routerLink="/createUser" class="btn btn-success navbar-btn"> Add User</button></li>
    
            <li><a routerLink="/cars">cars</a></li>
            <li><button routerLink="/createCar" class="btn btn-success navbar-btn"> Add Car</button></li>
            
    
          </ul>
          
          
        </div>
      </nav>
    </div> -->
    
    
    <!--<router-outlet></router-outlet>
    
  <div class="container">
        
      </div>-->
      