


<div class="container align-self-center" style="padding-top:60px;"> 
  <div class="bg" style="width:100%;height:100%;">
  <!-- <img src="assets\img\cars\logo.jpg" width=100% height=100%> -->
    <div class="row align-self-center">  
      <div class="col-md-6 mx-auto">  
        <div class="card-group">  
          <div class="card p-4">  
            <div class="card-body ">  
              <form name="form" (ngSubmit)="login()" #f="ngForm">   
                
                 
                <div class="input-group mb-3 align-self-center">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text"><i class="icon-user"></i></span>  
                  </div>  
                  <input type="text" name="UserName" [(ngModel)]="model.userName" class="form-control sty1" placeholder="Email" required>  
                </div>  
                <div class="input-group mb-4">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text"><i class="icon-lock"></i></span>  
                  </div>  
                  <input  type="password" name="Passward" [(ngModel)]="model.userPassword" class="form-control"  
                 placeholder="Password">  
                </div>  
                <div>  
                    <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
                      {{errorMessage}}  
                    </p>  
                  </div>  
                  
                <div class="row">  
                  <div class="col-md-6">  
                    <button type="submit" class="btn btn-primary px-4">Login</button>  
                  </div>  
                </div>
                  <br><br><br><br><br><br>
                  <br><br><br><br><br><br>
                  

                  <div class="col-6 text-right">  
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>  
                  </div> 
                  
                  <div class="col-6 text-right">  
                      <button (click)="nav.toggleSignUp" routerLink="/createUser" type="button" class="btn btn-alert px-0">Not signed in? Sign up!</button>  
                  </div> 
                  <br>

                  <div class="col-6 text-right">  
                    <button  (click)="clickNotRgistered()" routerLink="/searchHome" type="button" class="btn btn-dark px-0">Continue Without User</button>  
               


                </div>  
                  
              </form>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>
  </div>  

<!--
<form>
<input  type="text" name="username" placeholder="username.." [(ngModel)]="credentials.userName">

<br>
<input  type="text" name="password" placeholder="password.." [(ngModel)]="credentials.userPassword">



<button (click)="loginRefactor()"> click </button> 


</form>-->

