
<!--
<div class="container">
<nav class="navbar navbar-blue">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Car Rental Admin </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>

        <li><a routerLink="users">users</a></li>
        <li><button routerLink="createUser" class="btn btn-success navbar-btn"> Add User</button></li>

        <li><a routerLink="cars">cars</a></li>
        <li><button routerLink="createCar" class="btn btn-success navbar-btn"> Add Car</button></li>

      </ul>
      
      
    </div>
  </nav>
</div>-->

<!-- <app-nav-bar *ngIf="nav.visible "></app-nav-bar> -->


<div class="container">
  <nav-bar></nav-bar>
  <router-outlet></router-outlet>

</div>



