.bg {
  /* The image used */
  background: url('../../assets/img/cars/car2.jpg');

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 10%;
  padding-bottom: 10%;

}